/* -------------------premiere page---------------------*/ 
.boutonheader{
    transform: scale(1);
    transition-property: transform;
    transition-duration: 100ms;
    cursor: pointer;
    &:active {
        transform: scale(1.15);
    }
}
/* -------------------Fonctionnement---------------------*/ 
// $cd-F-start: rgb(231, 231,231, 0.5);
// $cd-F-end:  #d0a6ec57;
// $cd-fas-start: black;
// $cd-fas-end:   #9356dc;
.F
{
    cursor: pointer;
    transition: background-color 1000ms;
    background-color: $cd-F-start;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: $cd-F-end;
    }   
}
.icone{
    cursor: pointer;
    transition: background-color 1000ms;
    color: $cd-fas-start;
    &:hover {
        color: $cd-fas-end;
    }   
}
      
